@import "../../pages/variables.scss";

.home {
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-attachment: scroll;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(4, 104, 134, 0.267), #002a5a5d), url("./../../images/coding-bg.jpg");
    display: flex;
    flex-direction: column;

    .content {
        margin: auto auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .title {
            width: 100%;
            font-size: 1.75rem;
            font-weight: 600;
            text-align: center;
            color: #fff;
            margin: 12px 0;
            letter-spacing: 2px;
        }
        .desc {
            width: 100%;
            text-align: center;
            font-weight: 500;
            font-size: 1.48rem;
            color: #fff;
            margin: 12px 0;
            letter-spacing: 2px;
        }
    }

    .cta {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        padding-bottom: 8px;
        cursor: pointer;

        span {
            color: $colorOnPrimaryDark1;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 1.1px;
            margin-bottom: 6px;
        }
    }
}

@media (min-width: $medium-width) {
    .home .content {
        .title {
            font-size: 2.4rem;
        }
        .desc {
            font-size: 2rem;
        }
    }
}

@media (min-width: $large-width) {
    .home .content {
        .title {
            font-size: 2.5rem;
        }
        .desc {
            font-size: 2.2rem;
        }
    }
}

@media (min-width: $xlarge-width) {
    .home .content {
        .title {
            font-size: 2.6rem;
        }
        .desc {
            font-size: 2.3rem;
        }
    }
}
