@import "../../pages/variables.scss";

.projects {
    max-width: $main-width-page;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .title {
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        color: $colorOnPrimaryDark2;
    }

    .items {
        display: flex;
        margin-top: 40px;
        gap: 38px;
        flex-wrap: wrap;
    }
}

.project {
    background-color: $colorPrimary;
    border-radius: $radius;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    img {
        width: 100%;
        aspect-ratio: 1.67;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }

    .content {
        padding: 28px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

        .topSection {
            display: flex;
            flex-direction: column;
        }

        .title {
            font-size: 1.2rem;
            font-weight: 500;
            color: $colorOnPrimaryDark2;
            text-align: start;
        }
        .description {
            margin-top: 8px;
            font-size: 0.9rem;
            line-height: 1.5;
            color: $colorOnPrimaryDark1;
        }
        .date {
            margin-top: 10px;
            color: $colorOnPrimaryDark1;
            * {
                color: $colorOnPrimaryDark1;
            }
            span {
                margin-left: 6px;
            }
        }

        .buttonsWrapper {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 10px;
            gap: 8px;

            .button {
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                font-size: 0.8rem;
                letter-spacing: 1.5px;
                box-sizing: border-box;
                width: 48%;
            }
        }
    }

    .tagsWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;

        .tag {
            background-color: $colorPrimaryLight;
            border-radius: $radius-secondary;
            padding: 7px 10px;
            font-size: 0.9rem;
            color: $colorOnPrimaryDark1;
        }
    }
}

@media (min-width: $small-width) {
    .projects {
        width: $small-width-page;
    }
}

@media (min-width: $medium-width) {
    .projects {
        width: $medium-width-page;

        .project {
            height: 100%;

            .content {
                height: 100%;
            }
        }

        .items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 18px;
            grid-row-gap: 18px;
        }
    }
}

@media (min-width: $large-width) {
    .projects {
        width: $large-width-page;

        .items {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 25px;
            grid-row-gap: 25px;
        }
    }
}

@media (min-width: $xlarge-width) {
    .projects {
        width: $xlarge-width-page;
    }
}
