@import "../../pages/variables.scss";

.aboutWrapper {
    max-width: $main-width-page;
    margin: 0 auto;

    .about {
        padding: 30px;
        margin: 40px auto 0 auto;
        box-sizing: border-box;
        width: 100%;
        border-radius: $radius;
        background-color: $colorPrimary;
        display: flex;
        flex-wrap: wrap;

        .avatar {
            border-radius: 50%;
            width: 20%;
            height: fit-content;
        }

        .info {
            width: 80%;
            box-sizing: border-box;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .bio {
                color: $colorOnPrimaryDark1;
                line-height: 1.5;
                letter-spacing: 0.7px;
                font-size: 0.9rem;
            }
            .button {
                width: 100%;
                box-sizing: border-box;
                margin-top: 16px;
            }
        }
        .skills {
            width: 100%;
            text-align: center;
            box-sizing: border-box;

            h4 {
                margin-top: 30px;
                font-size: 1.5rem;
                font-weight: 600;
                color: #fff;
            }
            div {
                margin-top: 20px;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    height: 30px;
                }
            }
        }
    }
}

@media (min-width: $small-width) {
    .aboutWrapper {
        max-width: $small-width-page;
    }
}

@media (min-width: $medium-width) {
    .aboutWrapper {
        max-width: $medium-width-page;
        .about {
            flex-wrap: nowrap;
            padding: 40px;

            .info {
                width: 40%;

                .bio {
                    font-size: 0.97rem;
                }
                .button {
                    width: fit-content;
                }
            }
            .skills {
                width: 40%;
                padding-left: 30px;
                text-align: start;

                h4 {
                    margin-top: 0;
                }

                div {
                    justify-content: flex-start;

                    img {
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media (min-width: $large-width) {
    .aboutWrapper {
        max-width: $large-width-page;
    }
}

@media (min-width: $xlarge-width) {
    .aboutWrapper {
        max-width: $xlarge-width-page;
    }
}
