@import "../pages/variables.scss";

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: $colorPrimaryLight;
  scroll-behavior: smooth;
}

.section-title {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  color: $colorOnPrimary;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 70px;
}

.button {
  background-color: $colorAccent;
  transition: all 0.17s ease-in-out;
  border-radius: $radius-secondary;
  font-weight: 600;
  color: $colorOnAccent;
  outline: none;
  border: none;
  padding: 10px 16px;
  font-size: 0.95rem;
  align-self: flex-start;
  &:hover {
    cursor: pointer;
    background-color: $colorAccentHover;
  }
}
