$radius: 15px;
// $radius: 15px;
//$navbarHeight: 48px;

$main-width-page: 1100px;

$colorPrimaryDark: #02044A;
$colorOnPrimaryDark1: #ddebea;
$colorOnPrimaryDark2: #3ed7eb;
$colorOnPrimaryDark3: #00acc7;

// $colorPrimary: #ebedee;
// $colorPrimary: #02044A;
$colorPrimary: #024179;
// $colorPrimary: #02044A;
// $colorPrimary: #039da8;
// $colorPrimaryLight: #7AA5CD;
// $colorPrimaryLight: #1d85ca;
$colorPrimaryLight: #7aa5cd;
// $colorPrimaryLight: #0769b4;
// $colorPrimaryLight: #054a8b;
$colorOnPrimary: rgb(255, 255, 255);
// $colorOnPrimary: rgb(0, 119, 255);


// $colorSecondary: rgb(4, 76, 124);
$colorSecondary: #02044A;
$colorOnSecondary: #ffffff;

$colorAccent: #04dbcd;
// $colorAccent: #54c2df;
// $colorAccent: #07dbbffa;
$colorAccentHover: #10fcdcfa;
$colorOnAccent: #ffffff;
// $colorOnAccent: #ffffff;