$radius: 10px;
$radius-secondary: 6px;

$main-width-page: 95%;
$small-width-page: 80%;
$medium-width-page: 720px;
$large-width-page: 950px;
$xlarge-width-page: 1120px;


$small-width: 640px;
$medium-width: 768px;
$large-width: 1024px;
$xlarge-width: 1280px;


$colorPrimaryDark: #02044a;
$colorOnPrimaryDark1: #ddebea;
$colorOnPrimaryDark2: #a4f1fc;
$colorOnPrimaryDark3: #00acc7;
$colorPrimary: #02044a;
$colorPrimaryLight: #024179;
$colorOnPrimary: rgb(255, 255, 255);
$colorSecondary: #08415C;
$colorOnSecondary: #ffffff;
$colorAccent: #10d4c7;
$colorAccentHover: #10fcdcfa;
$colorOnAccent: #ffffff;
