@import "../../pages/variables.scss";

.navbarWrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 62px;
    background-color: $colorPrimaryDark;

    .navbar {
        width: $main-width-page;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-weight: 400;
            color: #fff;
            font-size: 1.3rem;
            letter-spacing: 3px;

            & b {
                font-weight: 700;
            }
            // margin-left: 40px;
        }

        .navLinks {
            width: 100%;
            left: 0;
            right: 0;
            max-height: 0;
            background-color: $colorPrimaryDark;
            transition: max-height 0.35s linear;
            position: absolute;
            display: block;
            position: absolute;
            top: 60px;

            li {
                margin: 20px 40px;
                opacity: 0;
                a {
                    text-decoration: none;
                    color: $colorOnPrimaryDark1;
                    letter-spacing: 2px;
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 7px 8px;

                    &:hover {
                        color: $colorOnPrimaryDark2;
                        border-bottom: 2px solid $colorOnPrimaryDark2;
                    }
                }
            }

            &.navActive {
                max-height: 100vh;
                li {
                    animation: 0.27s ease 0.242857s 1 normal forwards running navLinkFade;
                }
            }
        }
        .burger {
            display: block;
            // margin-right: 40px;

            div {
                width: 25px;
                height: 3px;
                background-color: #eaeaea;
                margin: 5px;
                transition: all 0.35s ease;
            }

            &.navActive {
                .line1 {
                    transform: rotate(-45deg) translate(-5px, 6px);
                }
                .line2 {
                    opacity: 0;
                }
                .line3 {
                    transform: rotate(45deg) translate(-5px, -6px);
                }
            }
        }
    }
}

@media (min-width: $medium-width) {
    .navbarWrapper .navbar {
        max-width: $medium-width-page;
        height: 100%;
        margin: auto;

        .title {
            font-size: 1.5rem;
            // margin: 0;
        }

        .navLinks {
            width: fit-content;
            display: flex;
            position: static;
            top: 0;
            max-height: none;

            li {
                opacity: 1;
                display: block;
                margin: 0 6px;
            }
        }

        .burger {
            display: none;
        }
    }
}

@media (min-width: $large-width) {
    .navbarWrapper .navbar {
        max-width: $large-width-page;
    }
}

@media (min-width: $xlarge-width) {
    .navbarWrapper .navbar {
        max-width: 77%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
